
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySocietyLabel" translate="zomzogworldApp.society.home.createOrEditLabel">Create or edit a Society</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="society.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="zomzogworldApp.society.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="society.name"
                    required ng-minlength="1" ng-maxlength="254" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="254">
                    This field cannot be longer than 254 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="zomzogworldApp.society.enter" for="field_enter">Enter</label>
            <input id="field_enter" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="society.enter" is-open="datePickerForEnter.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEnterOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.enter.$invalid">
                <p class="help-block"
                    ng-show="editForm.enter.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="zomzogworldApp.society.quit" for="field_quit">Quit</label>
            <input id="field_quit" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="society.quit" is-open="datePickerForQuit.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForQuitOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
